@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background: #0d0d0d;
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.contacts {
    margin: 0;
    padding: 0;
    line-height: 26px;
    list-style: none;
    position: absolute;
    left: 30px;
    top: 23px;
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
}

.contacts ul {
    color: #ffffff;
    margin: 0;
    padding: 0;
    line-height: 26px;
    list-style: none;
}

.contacts ul a {
    text-decoration: none;
}

.icons {
    text-decoration: none;
    color: #fff;
}

.icons ion-icon {
    color: #fff;
    font-size: 22px;
    padding-left: 5px;
    padding-top: 5px;
    transition: 0.4s ease;
}

.icons ion-icon:hover {
    color: #ff7200;
}
.icon {
    display: flex;
    color: #ff7200;
    font-size: 35px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 30px;
    padding-top: 20px;
    float: left;
    margin: 0 auto;
}

.hello {
    font-size: 240px;
    color: #1e1e1e;
    line-height: 1;
    display: block;
    font-weight: 900;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

.name {
    color: #ffffff;
    font-family: 'Outfit', sans-serif;
    font-size: 190px;
    line-height: 150px;
    font-weight: 800;
    margin: 0;
    position: relative;
    margin-top: -105px;
    letter-spacing: 3px;
    text-align: center;
}

.para {
    margin: 35px auto 0;
    line-height: 35px;
    max-width: 450px;
    font-size: 20px;
    position: relative;
    text-align: center;
    color: #fff;
    font-family: 'Outfit', sans-serif;
}

.skin {
    font-size: 16px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 30px;
    top: 30px;
}

.skin > span {
    font-size: 14px;
    line-height: 1;
}

.skin > div {
    margin: 0 10px;
}

.skin .light {
    max-width: 14px;
}
.skin .dark {
    max-width: 13px;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-lable {
    background-color: #333;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px 7px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-lable .ball {
    background-color: #fff;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 4px;
    top: 4px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
}

.leftbottom {
    position: absolute;
    left: 30px;
    bottom: 25px;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'outfit', sans-serif;
}

.interactive-hover-button-1 {
    font-family: 'outfit', sans-serif;
    background-color: #333; /* Green */
    border: none;
    color: rgb(255, 255, 255);
    padding: 20px 79px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: fixed; /* Fixed position */
    bottom: 25px; /* Distance from the bottom */
    right: 20px; /* Distance from the right */
}

.interactive-hover-button-1:hover {
    background-color: #ff7200; /* Darker green */
}

.interactive-hover-button-2 {
    font-family: 'outfit', sans-serif;
    background-color: #333; /* Green */
    border: none;
    color: rgb(255, 255, 255);
    padding: 20px 75px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: fixed; /* Fixed position */
    bottom: 98px; /* Distance from the bottom */
    right: 20px; /* Distance from the right */
}

.interactive-hover-button-2:hover {
    background-color: #ff7200; /* Darker green */
}

.navmenu {
    float: left;
    width: 400px;
    height: 70px;
    margin-top: 2px;
}
